body {
	margin: 0;
	position: relative;
}

.viewport {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url("../images/bg.png");
	background-size: cover;
}

.header img{
	position:absolute;
	color:white;
	z-index:1;
}
h1, h2, h3{
	color: white;
}


.timeline_point{
	bottom: 23px;
}

.line_left_top{
	background-color: white;
	width: 1px;
	height: 50%;
	top: 104px;
	left: 32px;
	z-index: 1;
	position: absolute;
}

.line_left_bottom{
	background-color: white;
	width: 1px;
	height: 50%;
	bottom: 100px;
	left: 32px;
	z-index: 1;
	position: absolute;
}

.line_right_top{
	background-color: white;
	width: 1px;
	height: 50%;
	top: 32px;
	right: 32px;
	z-index: 1;
	position: absolute;
}

.line_right_bottom{
	background-color: white;
	width: 1px;
	height: 50%;
	bottom: 100px;
	right: 32px;
	z-index: 1;
	position: absolute;
}

.line_top_left{
	background-color: white;
	height: 1px;
	width: 60%;
	top: 32px;
	left: 220px;
	z-index: 1;
	position: absolute;
}

.line_top_right{
	background-color: white;
	height: 1px;
	width: 40%;
	top: 32px;
	right: 32px;
	z-index: 1;
	position: absolute;
}


.line_bottom_left{
	background-color: white;
	height: 1px;
	width: 50%;
	bottom: 100px;
	left: 32px;
	z-index: 1;
	position: absolute;
}

.line_bottom_right{
	background-color: white;
	height: 1px;
	width: 50%;
	bottom: 100px;
	right: 32px;
	z-index: 1;
	position: absolute;
}


.slides {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	height: 100vh;
	box-sizing: border-box;
	border: 2em solid black;
}



.slide:target {
	color: red;
}

ul {
	position: absolute;
	z-index: 2;
	top: 45px;
	right: 45px;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	color: white;
}

@font-face {
font-family: 'blacksword';
src: url('../fonts/Blacksword.otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'LetterGothicStd';
src: url('assets/fonts/LetterGothicStd.otf');
font-weight: normal;
font-style: normal;
}

h1 {
	font-family: 'blacksword';
}

h2 {
	font-size: 30px;
	position: absolute;
	display: block;
	padding-top: 150px;
		font-family: 'LetterGothicStd';
}

.logo_milieu {
	margin-left: 30%;
	position: absolute;
	padding-top: 15%;
}
.image{
	width: 30%;
}
#droite{
	margin-right: 127px;
}

.image:hover {
	transition-property: all;
	transition-duration: 1s;
transition-timing-function: ease-in-out;
	width: 35%;


}


}
