body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	position: relative;
  background-size: cover;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
}
.header{
	position: relative;
	width: 100vw;
	z-index: 9;
}
div.slide img{
	position: relative;
}
.header img{
	position:fixed;
	color:white;
	z-index: 9;
	cursor: pointer;
}
.logo{
	top: 20px;
	left: 20px;
}
.date{
	width: 70px;
	margin-left: -75px;
	top: 15px;
	left: 50%;
}
.icone_jumeau{
	top: 10px;
	right: 375px;
}

.icone_glossaire{
	top: 17px;
	right: 310px;
}

.icone_livre{
	top: 17px;
	right: 245px;
}

.icone_carnet{
	top: 20px;
	right: 190px;
}

.icone_photo{
	top: 20px;
	right: 120px;
}

.icone_video{
	top: 21px;
	right: 50px;
}

.icone_volume{
	bottom: 20px;
	left:50px;
}

.fleche_gauche{
	height:60px;
	left: 85px;
	top: 43%;
}

.fleche_gauche:hover{
/*	background-image:url("../images/fleche_droite.png");*/
	left: 95px;
	top: 43%;
}

.fleche_droite{
	width:40px;
	right: 55px;
	top: 43%;
}
/*///////////cadre du tableau de bord////////////*/
.line_left_top{
	position: fixed;
	background-color: white;
	width: 1px;
	height: auto;
	top: 104px;
	bottom: 73px;
	left: 32px;
	z-index: 9;
}

.line_right_bottom{
	position:fixed;
	background-color: white;
	width: 1px;
	height: auto;
	top: 32px;
	bottom: 32px;
	right: 32px;
	z-index: 9;
}

.line_top_left{
	position:fixed;
	background-color: white;
	height: 1px;
	width: auto;
	top: 32px;
	left: 220px;
	right: 460px;
	z-index: 9;
}
/*
.line_bottom_left{
	position:fixed;
	background-color: white;
	height: 1px;
	width: auto;
	bottom: 32px;
	left: 110px;
	right: 32px;
	z-index: 9;
}*/
#timeline{
  /* position: absolute; */
  /* width: 100vw; */
  /* z-index: 15; */
  /* padding-top: 45px; */
  /* margin: 0 15em 0 15em; */
  bottom: -32em;
}
